.google-map-div {
    position: relative;
    top: 3rem;
    width: 158%;
    height: 20rem;
    left: 0;
    bottom: 0;

 }

 #map {
    height: 100%;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
