.arrow-icon-modal-left {
    position: absolute;
    top: 38%;
    font-size: 50px;
    color: white;
    left: 30px;
    cursor: pointer;

}

.arrow-icon-modal-right{
    position: absolute;
    right: 30px;
    top: 38%;
    font-size: 50px;
    color: white;
    cursor: pointer;
}
