/* body {
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');

.background-white {
    background-color: white;

}

.background-grey {
    background-color: rgb(228, 228, 228);

}

.spot-detail-div {
    display: flex;
    justify-content: space-around;
}
.spot-detail-images {
    position: relative;
    z-index: 0;
    left: 0;
    width: 48%;
    height: 480px;
}
.spot-detail-2 {
    position: relative;
    z-index: 0;
    width: 28%;
    height: 480px;
}
.spot-detail-3 {
    position: relative;
    z-index: 0;
    width: 22%;
    height: 480px;
}

#spot-name {
    font-size: 40px;
    padding-top: 20px;
    font-family: 'Noto Sans', sans-serif;
    /* margin-left: 12%; */
}

.title-spot-page {
    margin-left: 12%;
    padding-top: 2%;
}
.recommended {
    padding-top: 3%;
    font-size: 14.5px;
    font-weight: 400
}

.description-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-left: 12%;
    margin-top: 3%;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 5%;
    /* border-bottom: 1px solid rgb(206, 206, 206); */
    border-top: 1px solid rgba(206, 206, 206, 0.4);
}

.hundred-percent {
    color: rgba(88, 255, 197, 0.9);
    padding-right: 0.5rem;
}

#spot-description {
    width: 80%;
    font-size: 14px;
    font-weight: 300;
    line-height: 20pt
}

#description {
    /* padding-left: 3%; */
    font-size:16px;
}

#map {
    width: 100%;
    height: 200px;
    background-color: white;
}

.font {
    font-family: 'Inter';
}

#spot-name {
    font-family: 'Inter';
    /* font-family: 'Noto Sans', sans-serif; */
}

.arrows-above-title {
    font-size: 14px;
    font-weight: 300;
}
