/* body {
} */

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@500&display=swap");

.background-white {
    background-color: white;

}

.background-grey {
    background-color: rgb(228, 228, 228);

}

.spot-detail-div {
    display: flex;
    justify-content: space-around;
}
.spot-detail-images {
    position: relative;
    z-index: 0;
    left: 0;
    width: 48%;
    height: 480px;
}
.spot-detail-2 {
    position: relative;
    z-index: 0;
    width: 28%;
    height: 480px;
}
.spot-detail-3 {
    position: relative;
    z-index: 0;
    width: 18%;
    height: 480px;
}

#spot-name {
    font-size: 40px;
    padding-top: 20px;
    /* margin-left: 12%; */
}

.title-spot-page {
    margin-left: 12%;
    padding-top: 2%;
}
.recommended {
    padding-top: 3%;
}

.description-container {
    display: flex;
    justify-content: space-between;
    background-color: white;
    margin-left: 12%;
    margin-top: 3%;
    width: 50%;
    padding-top: 2%;
    padding-bottom: 5%;
    /* border-bottom: 1px solid rgb(206, 206, 206); */
    border-top: 1px solid rgb(206, 206, 206);
}

.hundred-percent {
    color: aquamarine;
}

#spot-description {
    width: 70%;
    font-size: 14px;
    line-height: 20pt
}

#description {
    padding-left: 5%;
    font-size:larger
}

#map {
    width: 100%;
    height: 200px;
    background-color: white;
}

.font {
    font-family: 'Inter';
}

#spot-name {
    font-family: 'Inter';
}
