.reviews-container {
    background-color: white;
    margin-left: 12%;
    width: 50%;
    padding-top: 5%;
    /* align-items: center; */
    /* margin-left: 50%; */
}

.reviews-detail-page > div {
    padding-left: 10%;
    padding-right: 10%;
}

.add-review-form {
    /* margin: auto; */
    padding: 50px;
    width: 100%;
    align-items: center;
}

#text-submit-review {
    border: 1px solid rgb(230, 230, 230);
    resize: none;
    outline: none;
    width: 85%;
}

.review-text {
    /* align-content: center; */
    padding-bottom: 10%;
    padding-top: 10%;
    width: 100%;

    /* border-bottom: 1px solid rgb(206, 206, 206); */
    /* border-top: 1px solid rgb(206, 206, 206); */
}

.div-lines {
    border-bottom: 1px solid rgb(206, 206, 206);
    padding-bottom: 10%;
    padding-top: 10%;


}
#review-button {
    background-color: aquamarine;
    border: none;
    padding: 3%;
    margin-left: 70%;
    color: white;
}

#review-heading {
    margin-left: 5%;
}

.icon-review-container {
    padding-right: 20%;
    width: 100%;
    display: flex;

    justify-content: left;
    align-items: center;
}
.review-icon {
    height: 60px;
    width: 60px;
    padding-right: 20%;
}

.review-buttons {
    position: absolute;
    left: 70%;
    background-color: rgb(255, 127, 127);
    border: none;
    padding: 10px;
    color: white;
}

.review-button-delete {
    font-size: 22px;
    position: absolute;
    left: 58%;
    color: rgb(255, 127, 127);
    border: none;


}

.review-button-edit {
    font-size: 22px;
    position: absolute;
    left: 60%;
    color: rgb(255, 127, 127);
    border: none;

}
