.booking-card-container {
    background-color: white;
    position: absolute;
    z-index: 1;
    top: 60%;
    width: 100px;
    left: 67%;
    width: 23%;
    height: 318px;
    border: 0.5px solid rgb(228, 226, 226);
    border-radius: 3px;
    box-shadow: 1px 1px 1px rgb(216, 216, 216);
    /* position: sticky; */
}

#bookings-button {
    background-color: rgb(127, 255, 195);
    font-family: 'Inter';
    font-size: 15px;
    border: none;
    padding: 3%;
    color: white;
    width: 95%;
    height: 20%;
    margin-left: 7.5px;
    margin-top: 7.5px;
    /* margin-top: 40%; */
}
#bookings-booked-button {
    background-color: rgb(192, 209, 255);
    border: none;
    padding: 3%;
    color: white;
    width: 100%;
    height: 30%;
    /* margin-top: 40%; */
}

.booking-dates {
    display: flex;
    justify-content: space-between;
}

.book-date {
    border-top:1px solid rgb(206, 206, 206);
    border-bottom:1px solid rgb(206, 206, 206);
    width: 50%;
    text-align: center;
    height: 40px;
}

#border-right {
    border-left:1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
}

#border-right:before {
    content: 'Check-in time'
}

#border-left {
    border-left:1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
}

#border-left:before {
    content: 'Check-out';
    padding: 10px;
}

#date-border {
    border-left:1px solid rgb(206, 206, 206);
    border-right: 1px solid rgb(206, 206, 206);
}

#date-border:before {
    content: 'Pick a Date'
}

#bookings-price{
    height: 50px;
    width: 100%;
}

.bookings-guests {
    border-top:1px solid rgb(206, 206, 206);
    height: 50px;
    width: 100%;
}

.booking-errors {
    color: red;
}

.guests-select-menu {
    width: 100%;
    height: 30%;
    border: none;
    border-bottom:1px solid rgb(206, 206, 206);
}

.time-requirment {
    padding-top: 2%;
    padding-left: 3%;
}

.price {
    padding-left: 3%;
    font-size: bolder;

}
