@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

.welcome-div {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    margin-bottom: 100px;
    font-family: 'Roboto';
    color: rgb(0, 51, 0);
    background-color: rgb(240, 240, 240);


}

#welcome-img {
    margin-top: 60px;
    border-radius: 20px;
    height: 600px;
    width: 1125px;
}

#welcome-header-big {
    margin-top: 5%;
    /* margin-left: 15%; */

    font-size: 60px;
}

#welcome-header-small {
    text-align: center;
    font-size: 26px;
    width: 30rem;
    padding-left: 28.3%;
    font-weight: 400;
}

#welcome-headers-div {
    /* background-color: red; */
    text-align: center;
    width: 80%;
}

#next-getaway-text {
    font-size: 21px;
    font-family: 'Roboto';
    padding-left: 9.5rem;
    padding-bottom: 1rem;

}
