.spot-cards-container {
    display: flex;
    justify-content: space-around;
    margin-left: 12%;
    width: 50%;
    background-color: white;
}

.spot-cards {
    border:1px solid rgb(238, 238, 238);
    /* box-shadow: 1px 1px 1px grey; */
    border-radius: 3px;
    /* padding: 10%; */
    width: 100%;
    height: 300px;
    box-shadow: 0.2px 0.3px 0.5px 0.2px rgb(231, 231, 231);
}

.spot-cards-container > div {
    margin: 6px;
}

.card-list {
    width: 100%;
    list-style-type: none;
    font-size: 14px;
}

.card-title {
    padding-left: 5%;
    padding-top: 5%;
    font-size: 21px;
}

li {
    padding-top: 8%;
}

.spot-card-icon-color {
    color: rgb(201, 201, 201);
}

#fire-ban-red {
    color: red;
}
