
.category-card {
    box-sizing: border-box;
    width: 20rem;
    border: 0.2px solid rgb(228, 226, 226);
    height: 8rem;
    margin-top: 40px;
    display: flex;
}


.category-image {
    width: 10rem;
    height: 8rem;

}
.category-name {
    text-decoration: none;
    padding-left: 1rem;
    padding-top: 0.5rem;
    width: 7rem;
    height: 3rem;
}

.category-link {
    text-decoration: none;
    color: black;
}

.category-cards-container {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    width: 325px;
    position: absolute;
    height: 800px;
    right: 10%;
    top: 115%;
}
