.login-form-container {
    box-sizing: border-box;
    display: flex;
    /* border: 2px solid red; */
    width: 22%;
    height: 15rem;
    margin-left: 550px;
    margin-right: 500px;
    /* margin-top: 150px; */
    align-items: center;
    /* background-color: red; */
}

/* .email-login-div {

} */

#login-submit {
    display: block;
    width: 102%;
    background-color: aquamarine;
    border: none;
    height: 50px;
    color: white;
    border-radius: 5px;
}

#login-password-div {
    /* padding: 20px; */
    margin-top: 5px;
    margin-bottom: 20px;
}

.login-font {
    font-family: 'Inter';
}

#inner-login-container {
    box-sizing: border-box;
    /* border: 1px solid blue; */
    width: 100%;
}

.input-login {
    width: 100%;
    border: 0.1px solid rgb(107, 107, 107);
    height: 50px;
}

.login-headers-div {
    /* border: 1px solid orange; */
    width: 30%;
    margin-left: 500px;
    margin-right: 500px;
    text-align: center;
    padding-top: 7%;
    /* margin-top: 50px; */
}

.grey-line {
    border-bottom: 2px solid rgba(211, 211, 211, 0.3);
    position: absolute;
    width: 20.5rem;
    left: 38vw;
    top: 60vh;
    padding-top: 1.8rem;
}

.login-to-sign-div {
    padding-top: 2rem;
    margin-left: 40vw;
    font-family: 'Inter';
    font-size: 13px;
    text-decoration: none;
}

#login-to-signup {
    text-decoration: none;
    font-weight: 500;
}
