#signup-button {
    border-radius: 15px;
    color: white;
    background-color: aquamarine;
    width: 100%;
    margin-top: 30px;
    height: 30px;
    border: none;
}

.signup-form-container {
    box-sizing: border-box;
    background-color: white;
    /* border: 1px solid blue; */
}

.signup-form-card {
    border: 1px solid grey;
    padding: 20px;
    width: 20%;
    height: 550px;
    margin-left: 40%;
}

.signup-headers {
    text-align: center;
}

.signup-inputs {
    margin-top: 5px;
    margin-bottom: 5px
}

#signup-email-input {
    margin-top: 30px;
}
