.nav-bar {
    text-decoration: none;
    box-sizing: border-box;
    margin-top: auto;
    width: 100%;
    padding: 15px 0;
    height: 70px;
    background-color: rgb(240, 240, 240);
    display: flex;
    justify-content: space-between;
    position: sticky;
    top: 0;
    z-index: 10;
    /* align-content: center; */
    text-align: center;
}

.nav-link {
    text-decoration: none;
}

.nav-link:hover {
    text-decoration: underline;
    text-decoration-thickness: 0.15rem;
    text-decoration-color: rgb(9, 153, 105);
    text-decoration-skip-ink: all;
}

#napcamp-text {
    padding-left: 160px;
    font-size: 10rem;
    color: rgb(0, 46, 0);
    font-weight: 500;
    text-decoration: none;
}

.right-nav {

}

#nav-saves {
    /* padding-left: 15%; */
    /* padding-right: 15%; */
}

.nav-link {
    color: rgb(0, 46, 0);
    padding-top: 1rem;

}
.nav-link-login {
    color: rgb(0, 46, 0);
    padding-top: 1rem;
    padding-right: 1rem;

}

/* .pad {
    margin-right: 10rem;
} */

.review-icon-nav {
    position: absolute;
    height: 30px;
    width: 30px;

    /* margin-left: 30px; */

    border-radius: 20px;
    /* margin-top: 0.8rem; */
    right: 8.8rem;
    top: 1.7rem;

}

#header-icon-button {
    border: none;
    height: 20px;

}

#demo-user-button {
    background-color:rgb(0, 20, 0);
    color: rgb(255, 255, 255);
    border: none;
    margin-left: 20px;
    margin-top: 0.1rem;
    width: 6rem;
    font-weight: 500;
    height: 3rem;
}
.trips-tag {
    padding-right: 3rem;
}

#nav-login {
    margin-left: 30px;
    margin-right: 2rem;
}

#nav-signup {
    margin-left: 20px;
    margin-right: 20px;
}


.profile-dropdown {
    border: 1px solid rgba(172, 172, 172, 0.7);
    position: absolute;
    right: 10rem;
    top : 4rem;
    padding: 1rem;
}

.logout-button {
    width: 6rem;
    padding: 0.5rem;
    border: 0.1px solid rgb(235, 235, 235);
    font-weight: 600;
}

.logout-button:hover {
    background-color: rgba(19, 224, 224, 0.6);
    border: 0.2px solid rgb(221, 221, 221);
    color: white;
}

#mask-white {
    position: absolute;
    width: 20rem;
    height: 20rem;
    top: 0;
    right: 0;
    background-color: rgba(226, 226, 226, 0.2);
    z-index: 100;
}
