.background-white{
    background-color: white;
    /* width: 100vw;
    height: 100vh; */
}

.bookings-container {
    width: 65%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 30%;
    margin-top: 12%;
    /* margin-right: 20%; */
    grid-row-gap: 3rem;
    grid-column-gap: 40px;
    text-align: center;
    height: 100vh;
    /* border: 1px solid rgb(206, 206, 206); */

}





.edit-icon-display {
    display: none;
    padding-top: 0.3rem;
}

.bottom-booking-card:hover .edit-icon-display {
    display: block

}

.bottom-booking-card {
    height: 80%;
    display: none;
}
.bottom-booking-card-expand {
    height: 80%;
    
}

.flexx-me {
    display: flex;
}



.booking-title {
    padding-left: 0.5rem;
    /* padding-top: 0; */

    font-size: 20px;
    /* background-color: red; */
    text-align: left;
    width: 80%;
    padding-bottom: 0.5rem;

    /* max-height: 3rem; */
    height: 2rem;
    /* background-color: blue; */
}

.bookings-card {
    /* padding: 5px; */
    height: 8rem;
    /* max-height: 20rem; */
    width: 250px;
    border: 0.1px solid rgba(223, 223, 223, 0.5);
    border-radius: 10px;
    box-shadow: 0.1px 0.2px 0.1px 0.1px rgba(206, 206, 206, 0.5);
}
.bookings-card-expand {
    /* padding: 5px; */
    height: 18rem;
    /* max-height: 20rem; */
    width: 250px;
    border: 0.1px solid rgba(223, 223, 223, 0.5);
    border-radius: 10px;
    box-shadow: 0.1px 0.2px 0.1px 0.1px rgba(206, 206, 206, 0.5);
}

.booking-data-plus-category-div {
    display: flex;
    justify-content: space-between;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: 14px;
    line-height: 20pt;
}



.bookings-image {
    width: 100.5%;
    height: 8rem;
    border-radius: 10px;

}
.bookings-image-expand {
    width: 100.5%;
    height: 8rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.userName-bookings {
    font-size: 30px;
    position: absolute;
    margin-left: 30%;
    top: 20%;
}

.hide-form {
    display: none;
}

.show-form {
    background-color: pink;
}

.cancel-booking-button {
    /* position: relative; */
    /* z-index: 1; */
    /* bottom: 43px; */
    width: 90%;
    height: 40px;
    background-color: rgb(217, 250, 243);
    margin-top: 5%;
    border: 1px solid rgb(206, 206, 206);
    /* border: none; */
    border-radius: 10px;
}

.update-booking-button {
    width: 100%;
    height: 40px;
    /* background-color: rgb(217, 250, 243); */
    border-radius: 4px;
    border: none;
    border-radius: 2px;
}

.update-booking-button:hover {
    border: 1px solid rgb(217, 250, 243);
    /* color: rgb(4, 206, 155); */
    color: black;
    background-color: rgb(4, 206, 155);
}

.green-update-button {
    width: 200px;
    height: 40px;
    background-color: rgba(109, 231, 174, 0.925);
}

.hide-update-form {
    display: none;
}

.hide-booking-dates {
    display: none;
}



.update-booking-container {
    width: 100%;
    /* border: 0.5px solid rgb(177, 125, 125) */
    /* padding: 1%; */
}

.update-booking-form {
    height: 200px;
    width: 100%;
}

.guests-select {
    border: none;
    height: 40px;
    width: 99%;
    text-align: center;
}

.book-date {
    width: 99%;
    text-align: center;
}

.update-booking-image {
    width: 400px;
}

#edit-icon-button {
    /* position: relative;
    z-index: 1; */
    /* margin-left%; */
    margin-left: 50%;
}

#edit-icon-button:hover {
    cursor: pointer;
    color: green

}

.color-edit-icon {
    color: rgba(10, 10, 10, 0.7);
    /* margin-right: 50%; */
    /* padding-top: 1.3rem; */

}

.div-line-trips {
    position: relative;
    top: 120px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.hide-details {
    display: none;
}
