.bookings-container {
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 30%;
    margin-top: 10%;
    /* margin-right: 20%; */
    grid-row-gap: 100px;
    grid-column-gap: 40px;
    /* border: 1px solid rgb(206, 206, 206); */
}


.bookings-card {
    padding: 5px;
    height: 320px;
    width: 250px;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 10px;
    box-shadow: 1px 1px 1px 1px rgb(206, 206, 206);
}

.bookings-image {
    width: 100%;
    height: 50%;
}

.userName-bookings {
    font-size: 30px;
    position: absolute;
    margin-left: 30%;
    top: 15%;
}

.hide-form {
    display: none;
}

.show-form {
    background-color: pink;
}

.cancel-booking-button {
    position: relative;
    /* z-index: 1; */
    /* bottom: 43px; */
    width: 100%;
    height: 40px;
    background-color: rgb(217, 250, 243);
    margin-top: 5%;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 5px;
}

.update-booking-button {
    width: 100%;
    height: 40px;
    background-color: rgb(217, 250, 243);
    border-radius: 4px;
    border: 0.5px solid rgb(177, 125, 125);
    border-radius: 2px;

}

.green-update-button {
    width: 200px;
    height: 40px;
    background-color: rgba(109, 231, 174, 0.925);
}

.hide-update-form {
    display: none;
}

.hide-booking-dates {
    display: none;
}



.update-booking-container {
    width: 100%;
    border: 0.5px solid rgb(177, 125, 125)
    /* padding: 1%; */
}

.update-booking-form {
    height: 200px;
    width: 100%;
}

.guests-select {
    border: none;
    height: 40px;
    width: 99%;
    text-align: center;
}

.book-date {
    width: 99%;
    text-align: center;
}

.update-booking-image {
    width: 400px;
}

#edit-icon-button {
    position: relative;
    z-index: 1;
    margin-left: 90%;
}

.color-edit-icon {
    color: rgb(138, 0, 0);
}

#div-line-trips {
    position: relative;
    top: 120px;
    border-bottom: 1px solid rgb(206, 206, 206);
}
