.background-white{
    background-color: white;
    /* width: 100vw;
    height: 100vh; */
}

.bookings-container {
    width: 65%;
    /* height: 100%; */
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    margin-left: 30vw;
    margin-top: 21vh;
    /* margin-right: 20%; */
    grid-row-gap: 3rem;
    grid-column-gap: 40px;
    text-align: center;
    height: 100vh;
    /* border: 1px solid rgb(206, 206, 206); */

}

.hover-dropdown {
    display: none;
    /* font-size: 10rem; */
    cursor: pointer;
    color: rgb(65, 65, 65);
}

.booking-outer-container:hover .hover-dropdown {
    display: block;
}

.dropdown {
    cursor: pointer;
}





.edit-icon-display {
    display: none;
    padding-top: 0.3rem;
}

.bottom-booking-card-expand:hover .edit-icon-display {
    display: block

}


.bottom-booking-card {
    height: 0;
    display: none;
    -webkit-transition: height .25s ease;
    -moz-transition: height .25s ease;
    transition: height .25s ease;
}

@keyframes expand {
    0% {
        height: 1rem
    }
}
.bottom-booking-card-expand div {
    -webkit-transition: height 1s ease;
    -moz-transition: height 1s ease;
    transition: height 3s ease;
    /* height: 30rem; */
}

.flexx-me {
    display: flex;
}



.booking-title {
    padding-left: 0.5rem;
    /* padding-top: 0; */

    font-size: 20px;
    /* background-color: red; */
    text-align: left;
    width: 14rem;
    padding-bottom: 0.5rem;

    /* max-height: 3rem; */
    height: 2rem;
    /* background-color: blue; */
}

.bookings-card {
    /* padding: 5px; */
    height: 8rem;
    /* max-height: 20rem; */
    width: 17rem;
    border: 0.1px solid rgba(223, 223, 223, 0.5);
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: height .25s ease;
    -moz-transition: height .25s ease;
    transition: height .25s ease;
    /* box-shadow: 0.1px 0.2px 0.1px 0.1px rgba(206, 206, 206, 0.5); */

}


.bookings-card-expand {
    /* padding: 5px; */
    height: 25rem;
    /* max-height: 20rem; */
    width: 17rem;
    border: 0.1px solid rgba(223, 223, 223, 0.5);
    border-radius: 10px;
    box-shadow: 0.1px 0.2px 0.5px 0.1px rgba(110, 110, 110, 0.5);
    -webkit-transition: height .25s ease;
    -moz-transition: height .25s ease;
    transition: height .25s ease;
}

.booking-data-plus-category-div {
    display: flex;
    justify-content: space-between;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    font-size: 14px;
    line-height: 20pt;
}



.bookings-image {
    width: 17rem;
    height: 15rem;
    border-radius: 10px;

}
.bookings-image-expand {
    width: 17rem;
    height: 15rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.userName-bookings {
    font-size: 30px;
    position: absolute;
    margin-left: 30vw;
    top: 20%;
}

.hide-form {
    display: none;
}

.show-form {
    background-color: pink;
}

.cancel-booking-button {
    /* position: relative; */
    /* z-index: 1; */
    /* bottom: 43px; */
    width: 90%;
    height: 40px;
    background-color: rgb(217, 250, 243);
    margin-top: 5%;
    border: 1px solid rgb(206, 206, 206);
    /* border: none; */
    border-radius: 10px;
}

.update-booking-button {
    width: 100%;
    height: 40px;
    /* background-color: rgb(217, 250, 243); */
    border-radius: 4px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    box-sizing: border-box;
}

.update-booking-button:hover {
    /* border: 1px solid rgb(217, 250, 243);
    color: black;
    background-color: rgb(4, 206, 155);
    cursor: pointer; */
    box-sizing: border-box;
    border: 2px solid rgb(127, 255, 195);
    color: rgb(127, 255, 195);
    background-color: white;
    /* -webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -ms-transition: all 500ms ease;
    -o-transition: all 500ms ease; */
    transition: all 500ms ease;
    cursor: pointer;
}

.green-update-button {
    width: 200px;
    height: 40px;
    background-color: rgba(109, 231, 174, 0.925);
    cursor: pointer;
}

.hide-update-form {
    display: none;
}

.hide-booking-dates {
    display: none;
}



.update-booking-container {
    box-sizing: border-box;
    width: 30vw;
    /* border: 0.5px solid rgb(177, 125, 125) */
    /* padding: 1%; */
}

.update-booking-form {
    box-sizing: border-box;
    height: 200px;
    width: 100%;
}

.update-booking-form input {
    box-sizing: border-box;
    width: 100%;
    border-left: none;
    border-right: none;
}

.cancel {
    font-weight: 600
}

.guests-select {
    border: none;
    height: 40px;
    width: 99%;
    text-align: center;
}

.book-date {
    width: 99%;
    text-align: center;
    /* cursor: pointer; */
}

.no-top-border {
    border-top: none;
    /* border-bottom: none; */
}

.update-booking-image {
    width: 100%;
    height: 20rem;
}

#edit-icon-button {
    /* position: relative;
    z-index: 1; */
    /* margin-left%; */
    margin-left: 50%;
}

#edit-icon-button:hover {
    cursor: pointer;
    /* color: green */

}

.color-edit-icon {
    color: rgba(10, 10, 10, 0.7);
    /* margin-right: 50%; */
    /* padding-top: 1.3rem; */

}

.div-line-trips {
    position: relative;
    top: 120px;
    border-bottom: 1px solid rgb(206, 206, 206);
}

.hide-details {
    display: none;
}












/* profile */
.containers {
    font-family: 'Roboto';
    position: absolute;
    width: 17vw;
    left: 8vw;
    border: 0.1px solid rgba(184, 184, 184, 0.3);
    box-shadow: 1px 0.5px 0.1px 0.05px rgba(209, 209, 209, 0.1);
}
.profile-container {
    top: 30vh;
    height: 35vh;
}


.pic-plus-username-container{
    display: flex;
    padding-top: 1rem;
}

.profile-pic-container {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    border: 0.2px solid rgba(88, 88, 88, 0.5);
    text-align: center;
    margin-left: 0.5rem;
}
.profile-image {
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    padding-top: 0.5rem;
}

.profile-username {
    padding-top: 2.5rem;
    padding-left: 1rem;
    font-size: 19px;
}

.profile-container-body {
    padding-left: 1rem;
}

.profile-container-body div{
    padding-top: 1rem;
    font-size: 13px;
}

.create-bio {
    text-decoration: underline;
}

#bold-intro {
    font-weight: 500;
    color: rgb(177, 177, 177)
}

.edit-profile-click {
    cursor: pointer;
    text-decoration: underline;
}



.cash-container {
    top: 68vh;
    height: 10vh;

}

.balance-div {
    /* background-color: red; */
    width: 55%;
    height: 2rem;
    display: flex;
    justify-content: space-around;
    margin-left: 22%;
    margin-top: 1rem;

}

#word-is-balance {
    padding-top: 0.7rem;
    font-weight: 400;
    font-size: 15px;
}

#balance-circle {
    font-size: 12px;
    border: 1px solid rgba(211, 211, 211, 0.8);
    box-shadow: 1px 0.5px 0.1px 0.05px rgba(209, 209, 209, 0.1);
    border-radius: 50%;
    padding: 0.5rem;
    padding-top: 0.8rem;
    width: 3rem;
    height: 1.2rem;
    text-align: center;
}
